  body {
    margin: 0;
    padding: 0;
    background: #EDEFF0;
    font-family: Arial, Helvetica, sans-serif;
  }

  .header {
    padding: 1em;
    background: #354A5F;
    color: #EDEFF0
  }

  .content {
    padding: 1em;
    color: #354A5F;
  }

  .footer {
    padding: 1em;
    background: #354A5F;
    color: #EDEFF0;
  }
  