<!doctype html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/mycloudplayground/styles.css">
</head>

<body>
    <div class="header">
        <div class="header-line">
                <img src="/mycloudplayground/logo.png"/>
                
        </div>
    </div>
    <div class="content">
        <div>
                {{content}}
        </div>
    </div>
    <div class="footer">
        <div class="footer-content">
            {% if site.github.is_project_page %}
            <p class="repo-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is
                maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</p>
            {% endif %}
        </div>
    </div>



</body>

</html>